/* ======================= */
/*         Menu            */
/* ======================= */
.site-header {
    background-color: #ffffff;
    border-bottom: 1px solid;
}
/* ================================ */
/*              CONTENIDO            */

/* ================================ */
div.inside-header.grid-container {
    justify-content: center;
    flex-flow: column;
}

p.main-title {
    font-size: 51px;
}

button.menu-toggle {
    display: none !important;
}

.entry-meta .posted-on,
.entry-meta .byline {
    display: none;
}

.entry-title {
    margin-bottom: 0;
    border-bottom: 1px solid #55555e;
    padding-bottom: 20px;
    text-align: justify;
}

.separate-containers .inside-article,
.separate-containers .comments-area,
.separate-containers .page-header,
.one-container .container,
.separate-containers .paging-navigation,
.inside-page-header {
    background-color: #ffffffff;
    border: 1px solid #55555e;
    border-radius: 67px;
}

div.entry-summary p {
    text-align: justify;
}

#search-2 {
    border: 1px solid #55555e;
    border-radius: 32px;
}

.footer-widgets .widget :last-child, .sidebar .widget :last-child {
    margin-bottom: 0;
    border-radius: 14px;
  
}

.widget-area .widget {
    border-radius: 60px;
    border: 1px solid #55555e;
    border: 1px solid;
}

/* FOOTER */
footer.site-info {
    background-color: black;
    height: 100px;
    display: flex;
}

div.inside-site-info.grid-container {
    font-size: 20px;
}